## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
appsettings.Development.json

## Visual Studio Code / IDE
.vscode/
.vs/

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
